<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/form.css">
  
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/kwiks.js"></script>
    <script type="text/javascript" src="vendor/jqueryFlickrAlbum.min.js"></script>
    <script src="vendor/flicker.gallery/js/jquery-ui.min.js"></script>
    <script src="vendor/flicker.gallery/js/FlickrAPI.js"></script>
  <script src="vendor/flicker.gallery/js/Flickr.Gallery.min.js"></script>
  <link rel="stylesheet" href="vendor/flicker.gallery/gallery.css">

    
    <script>
      $(document).ready(function(){
        $().UItoTop({ easingType: 'easeOutQuart' });
        var owl = $("#owl");
        owl.owlCarousel({
          items : 4, //10 items above 1000px browser width
          itemsDesktop : [995,3], //5 items between 1000px and 901px
          itemsDesktopSmall : [767, 2], // betweem 900px and 601px
          itemsTablet: [700, 2], //2 items between 600 and 0
          itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
          navigation : true,
        });
      })
      var Main = Main || {};
      jQuery(window).load(function() {
        window.responsiveFlag = jQuery('#responsiveFlag').css('display');
        Main.gallery = new Gallery();
        jQuery(window).resize(function() {
          Main.gallery.update();
        });
      });
      function Gallery(){
        var self = this,
          container = jQuery('.flexslider'),
          clone = container.clone( false );
          this.init = function (){
            if( responsiveFlag == 'block' ){
            var slides = container.find('.slides');
            slides.kwicks({
              max : 500,
              spacing : 0
            }).find('li > a').click(function (){
              return false;
            });
            } else {
              container.flexslider();
            }
          }
          this.update = function () {
            var currentState = jQuery('#responsiveFlag').css('display');
            if(responsiveFlag != currentState) {
              responsiveFlag = currentState;
              container.replaceWith(clone);
              container = clone;
              clone = container.clone( false );
              this.init();
            }
          }
        this.init();
      }
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
  </head>
  <body class="page1" id="top">
<!--==============================header=================================-->
    <header>
      <div class="clear"></div>
      <div class="container_12">
          <div class="grid_4">
            <h1>
              <a href="index.html">
                <img src="images/logo2.jpg" alt="Yoga Mission">
              </a>
            </h1>
          </div>
          
          <div class="grid_4" style="border-radius: 0px; border: 0px solid black;padding-top:10px;background-color: #dfdfdf;  padding-bottom:5px;text-align: center; height: 191px;">
            
            <div class="text2" style="position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); color:black;">  
              <p>We Yoga mission...</p>
              <p>Disciples of Yoga science...</p>
              <p>Search for unknown... </p>
              <p>Not a Swamijies... </p>
            </div>
            
          </div>
          
          <div class="grid_4" style="border-radius: 0px; border: 0px solid black;padding-top:10px;background-color: #35818c; color:white; padding-bottom:5px;text-align: center; height: 191px;">
            
            
            <div class="text3" 
            style=" 
            position: relative;  
            top: 50%;  
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); ">  
            Call : +91 9841998149
            </div>
                      
            
            
          </div>
          
          
          
        
        <div class="clear"></div>
        
        <br>
        <div class="grid_12">
          <div class="menu_block" align="center">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                <li class="{% if page.menu == 'home' %} current {% endif %}"><a href="index.html">Home</a></li>
                <li class="{% if page.menu == 'yogamission' %} current {% endif %}"><a href="yogamission.html">Yoga Mission</a></li>
                <li class="{% if page.menu == 'ecomission' %} current {% endif %}"><a href="ecomission.html">Eco Mission</a></li>
                <li class="{% if page.menu == 'kurungadu' %} current {% endif %}"><a href="kurungadu.html">Kurungadu</a></li>
                <li class="{% if page.menu == 'pigeonmission' %} current {% endif %}"><a href="pigeonmission.html">Pigeon Mission</a></li>
                <li class="{% if page.menu == 'ecoyoga' %} current {% endif %}"><a href="ecoyoga.html">Eco Yoga </a></li>
                <li class="{% if page.menu == 'ecoschool' %} current {% endif %}"><a href="ecoschool.html">Eco School</a></li>
                <li class="{% if page.menu == 'ecolifestyle' %} current {% endif %}"><a href="ecolifestyle.html">Eco Lifestyle</a></li>
                <li class="{% if page.menu == 'oneloftindia' %} current {% endif %}"><a href="oneloftindia.html">One Loft India</a></li>
                <!-- <li class="{% if page.menu == 'ecoandhra' %} current {% endif %}"><a href="ecoandhra.html">Eco Andhra</a></li> -->
                <!-- <li class="{% if page.menu == 'ecomeditation' %} current {% endif %}"><a href="ecomeditation.html">Eco Meditation</a></li> -->
                <li class="{% if page.menu == 'contactus' %} current {% endif %}"><a href="contactus.html">Contact Us</a></li>
              </ul>
            </nav>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
    
    {{content}}

<!--==============================footer=================================-->
      <footer>
        <div class="hor bg3"></div>
        <div class="container_12">
          <div class="grid_12 ">
            <div class="socials">
              <a href="#fb"></a>
              <a href="#tw"></a>
              
              <div class="clear"></div>
            </div>
            <div class="copy">
              <strong>Yoga Mission</strong>   &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a><br>
              Website designed by <a href="http://www.mindKrush.com/" rel="nofollow">mindKrush.com</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>