<!DOCTYPE html> 
<html lang="en">
  <head>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WJ2WBSM');</script>
<!-- End Google Tag Manager -->
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
   
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="vendor/nanogallery/css/nanogallery.min.css">
  
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/owl.carousel.js"></script>
    <!--<script src="js/jquery.flexslider-min.js"></script>-->
    <script src="js/kwiks.js"></script>
    <script type="text/javascript" src="vendor/nanogallery/jquery.nanogallery.min.js"></script>
    <script type="text/javascript" src="vendor/marquee.js"></script>
    
    <script>
      // Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
    </script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    
    
    <![endif]-->
    
    <style type="text/css">
.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}
</style>
  </head>
  <body class="page1" id="top">
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJ2WBSM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--==============================header=================================-->
    <header>
      <div class="clear"></div>
      <div class="container_12">
          <div class="grid_4">
            <h1>
              <a href="index.html">
                <img src="images/logo2.jpg" alt="Yoga Mission">
              </a>
            </h1>
          </div>
          
          <div class="grid_4" style="border-radius: 0px; border: 0px solid black;padding-top:10px;background-color: #dfdfdf;  padding-bottom:5px;text-align: center; height: 191px;">
            
            <div class="text2" style="position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); color:black;">  
              <p class="domarquee" data-direction='top' data-speed=1>We <br> 
              Yoga Mission Family.. <br> <br>
              Disciples of<br>
              Yogic science. <br> <br>
              Search for unknown,<br>
              Not a Swamijis. </p>
            </div>
            <script charset="utf-8">
              $(document).ready(function () {
                $('.domarquee').Css3Marquee();
              });
            </script>
            
          </div>
          
          <div class="grid_4" style="border-radius: 0px; border: 0px solid black;padding-top:10px;background-color: #35818c; color:white; padding-bottom:5px;text-align: center; height: 191px;">
            
            
            <div class="text3" 
            style=" 
            position: relative;  
            top: 50%;  
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); ">  
            Contact: <br><br>
            70921 70920 <br><br>
            98419 98149
            </div>
                      
            
            
          </div>
          
          
          
        
        <div class="clear"></div>
        
        <br>
        <div class="grid_12">
          <div class="menu_block" align="center">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                <li class="{% if page.menu == 'home' %} current {% endif %}"><a href="index.html">Home</a></li>
                <li class="{% if page.menu == 'yogamission' %} current {% endif %}"><a href="yogamission.html">Yoga Mission</a></li>
                <li class="{% if page.menu == 'ecomission' %} current {% endif %}"><a href="ecomission.html">Eco Mission</a></li>
                <!-- <li class="{% if page.menu == 'kurungadu' %} current {% endif %}"><a href="kurungadu.html">Kurungadu</a></li> -->
                <li class="{% if page.menu == 'pigeonmission' %} current {% endif %}"><a href="pigeonmission.html">Pigeon Mission</a></li>
                <!-- <li class="{% if page.menu == 'ecoyoga' %} current {% endif %}"><a href="ecoyoga.html">Eco Yoga </a></li> -->
                <li class="{% if page.menu == 'ecoschool' %} current {% endif %}"><a href="ecoschool.html">Eco School</a></li>
                <!-- <li class="{% if page.menu == 'ecolifestyle' %} current {% endif %}"><a href="ecolifestyle.html">Eco Lifestyle</a></li> -->
                <!-- <li class="{% if page.menu == 'oneloftindia' %} current {% endif %}"><a href="oneloftindia.html">One Loft India</a></li> -->
                <!-- <li class="{% if page.menu == 'ecoandhra' %} current {% endif %}"><a href="ecoandhra.html">Eco Andhra</a></li> -->
                <!-- <li class="{% if page.menu == 'ecomeditation' %} current {% endif %}"><a href="ecomeditation.html">Eco Meditation</a></li> -->
                <li class="{% if page.menu == 'contactus' %} current {% endif %}"><a href="contactus.html">Contact Us</a></li>
              </ul>
            </nav>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </header>
    
    {{content}}

<!--==============================footer=================================-->
      <footer>
        <div class="hor bg3"></div>
        <div class="container_12">
          <div class="grid_12 ">
            <div class="socials">
              <a href="https://www.facebook.com/www.yogamission.in/"></a>
              <!-- <a href="#tw"></a> -->
              
              <div class="clear"></div>
            </div>
            <div class="copy">
              <strong>Yoga Mission</strong>   &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a><br>
              Website designed by <a href="http://www.mindKrush.com/" rel="nofollow">mindKrush.com</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>