---
layout: default
menu: kurungadu 
---

<div class="main">
<!--==============================Content=================================-->
      <div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 16, 2013!</div>
        <div class="container_12">
          {{content}}
          <div class="grid_4 prefix_1">
            <a class="donate">Kurungadu</a>
            <br>
            <ul class="list">
              <li><a href="ecoyoga.html"> Eco Yoga Home </a></li>
              <li><a href="ecoyoga_schedule.html">Chennai Yoga Schedule</a></li>
              <li><a href="#">Know more</a></li>
              <li><a href="#">Who are we</a></li>
              <li><a href="#">Our mission</a></li>
              
            </ul>
           
            
          </div>
        </div>
      </div>