---
layout: default
menu: oneloftindia 
---

<div class="main">
<!--==============================Content=================================-->
      <div class="content">
        <div class="container_12">
          {{content}}
          <div class="grid_4 prefix_1">
            <a class="donate">One Loft India</a>
            <br>
            <ul class="list">
              <li><a href="ecoandhra.html"> One Loft India Home </a></li>
              
              
            </ul>
           
            
          </div>
        </div>
      </div>